<h1 class="text-start m-4">All our Flats</h1>

<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <% @flats.each do |flat| %>
      <div class="col">
        <div class="card h-100 shadow-sm">
          <div class="card-body">
            <h2 class="card-title"><%= flat.name %></h2>
            <p class="card-text"><%= truncate(flat.address) %></p>
          </div>

          <div class="card-footer d-flex justify-content-between align-items-center">
            <span class="fw-bold">$<%= flat.price_per_night %> / night</span>
            <span><%= flat.number_of_guests %> guests</span>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
